<template>
  <div class="row">
    <div class="col-sm-12">
      <h3>Simple Quotes application</h3>
      <div class="progress">
        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"
             :style="{width : progressWidth}">
          {{ currentQuote }}/{{maxQuotes}}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: ['maxQuotes', 'currentQuote'],
    computed: {
      progressWidth() {
        return (this.currentQuote / this.maxQuotes) * 100 + '%';
      }
    }
  }
</script>

<style scoped>

</style>
