<template>
  <div class="row">
    <app-quote v-for="(quote, index) in quotes" @click.native="removeQuote(index)">{{ quote }}</app-quote>
  </div>
</template>

<script>
  import Quote from './Quote';

  export default {
    props:['quotes'],
    methods: {
      removeQuote(index) {
        this.$emit('removeQuote', index);
      },
    },
    components: {
      appQuote: Quote,
    }
  }
</script>

<style scoped>

</style>
