<template>
  <div class="container">
    <app-header :maxQuotes="maxQuote"
                :currentQuote="quotes.length"></app-header>
    <app-add-quote @createNew="createNew"></app-add-quote>
    <app-quotes-grid :quotes="quotes"
                     @removeQuote="removeQuote"></app-quotes-grid>

    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="alert alert-info">Info: Click on a Quote to delete it!</div>
      </div>
    </div>
  </div>
</template>

<script>
  import QuotesGrid from './component/QuotesGrid';
  import Header from './component/Header';
  import AddQuote from './component/AddQuote';

  export default {
    data: function() {
      return {
        maxQuote : 10,
        quotes: [
          "Initial quote",
        ],
      };
    },
    methods: {
      createNew(quote) {
        if(this.quotes.length >= this.maxQuote) {
          alert('Maximum quotes please remove a quote!');
          return;
        }
        this.quotes.push(quote);
      },
      removeQuote(index) {
        this.quotes.splice(index, 1);
      },
    },
    components: {
      appQuotesGrid : QuotesGrid,
      appHeader: Header,
      appAddQuote: AddQuote
    }
  }
</script>

<style>
</style>
